// * {
//   border: 1px solid red;
// }

body {
  width: 960px;
  margin: 20px auto;
  padding: 10px, 0px;
}

h1 {
  color: green;
}

.items {
  border: 5px solid black;
  margin-bottom: 10px;
}
.item-inner {
  height: 200px;
}

img {
  padding: 10px 10px 10px 10px;
  border-right: 5px solid black;
}


