// * {
//   border: 1px solid red;
// }
body {
  font-family: Papyrus,fantasy;
  background-image: url('geometry.png');
}

.content {
  width: 80%;
  margin: 20px auto;
  padding: 10px, 0px;
}

.red-price {
  color: red;
}

h1 {
  color: green;
}

.cookie {
  display: flex;
  align-items: center;
  border: 5px solid black;
  margin-bottom: 10px;
}
.cookie-inner {
  height: 200px;
}

img {
  padding: 10px 10px 10px 10px;
}

.image-area {
  // border-right: 5px solid black;
}

button {
  align-self: center;
}