<h1>Add an item:</h1>

<%= form_tag '/cookies', method: :post do %>
  <div>
    <h2>Product Name: <input type="text" name="name"> </h2>
  </div>
  <div>
    <h2>Price: <input type="text" name="price"> </h2>
  </div>
  <div>
    <h2>Image URL: <input type="text" name="image"> </h2>
  </div>
  <div>
    <h2>Description: <input type="text" name="description"> </h2>
  </div>
  <div>
    <h2>Supplier: <input type="text" name="supplier_id"> </h2>
  </div>
  <input type="submit" value="Submit Product">
<% end %>